
<div class="row quiz-div">
    <div class="col s12 m12">
        <div class="card info-questions-card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Quiz on {{quizObject.topic}}</span>
                <p>Should attempt {{quizObject.noOfQuestions}} questions within {{quizObject.timeLimit}} Minutes</p>
                <p>Should be given after {{quizObject.fromDate}} and before {{quizObject.toDate}}</p>
                <p>Once you add all questions you will be able to post it.</p>
            </div>
            {{#if addMoreQuestions}}
                <div class="card-action">
                    <button class="btn waves-effect waves-light btn-large"{{action 'createQuizElementToPost'}}>Post Quiz</button>
                </div>
            {{/if}}
        </div>
    </div>
</div>

<div class="card quiz-preview">
    <ul id="tabs-swipe-demo" class="tabs"></ul>
</div>

{{component dynamicComponent}}

<div class="card add-questions-card grey lighten-2">
    <div class="card-content white-text">
        <span class="card-title">Question {{questionNumber}}</span>
        <div class="row">
            <div class="input-field col s12">
                {{input id="question" class="validate" value=question.question}}
                <label for="question">Question</label>
            </div>
            <div class="input-field col s6">
                {{input id="optionOne" class="validate" value=question.optionOne}}
                <label for="optionOne">Option 1 : Answer Also</label>
            </div>
            <div class="input-field col s6">
                {{input id="optionTwo" class="validate" value=question.optionTwo}}
                <label for="optionTwo">Option 2</label>
            </div>
            <div class="input-field col s6">
                {{input id="optionThree" class="validate" value=question.optionThree}}
                <label for="optionThree">Option 3</label>
            </div>
            <div class="input-field col s6">
                {{input id="optionFour" class="validate" value=question.optionFour}}
                <label for="optionFour">Option 4</label>
            </div>
        </div>
        <div class="row add-button-div">
            <div class="col s5"></div>
            <div class="col s2">
                <button type="button" class="waves-effect waves-light btn" name="button" {{action 'addThisQuestion' question}}>Add Questions
                </button>
            </div>
            <div class="col s5"></div>
        </div>
    </div>
</div>
