<div class="row card">
    <div class="card-content red lighten-3 black-text">
        <span class="card-title">Quiz on {{model.topic}}</span>
        <p>Should attempt {{model.noOfQuestions}} questions within {{model.timeLimit}} Minutes</p>
        <p>Should be given after {{model.fromDate}} and before {{model.toDate}}</p>
    </div>

    <div class="card-content">
        {{#each questions as |question|}}
            {{question-dialog question=question}}
        {{/each}}
    </div>

    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <button class="btn waves-effect waves-light btn-large" {{action 'submitQuiz'}}>Submit</button>
        </div>
        <div class="col s4"></div>
    </div>
</div>
