<div class="card-content white-text">
    <span class="card-title">Quiz on {{quiz.topic}}</span>
    <p>Should attempt {{quiz.noOfQuestions}} questions within {{quiz.timeLimit}} Minutes</p>
    <p>Should be given after {{quiz.fromDate}} and before {{quiz.toDate}}</p>
</div>
