<h1>this is sign up Route hbs</h1>
<ul>
  {{#each serverSideFormError as |error|}}
    <li>{{error}}</li>
  {{/each}}
</ul>
{{serverSideFormError}} {{serverSideFormError.[0]}}
<form class="signUpForm" action="index.html" method="post">
  First Name :{{input name="fname" type="text" class="validate"
  value=fname change=(action 'fnameValidation' fname)}}
  <br> Last Name :{{input name="lname" type="text" class="validate"
  value=lname change=(action 'lnameValidation' lname)}}
  <br> User Name :{{input name="signUpUserName" type="email" class="validate"
  value=signUpUserName change=(action 'signUpUserNameValidation' signUpUserName)}}
  <br> Password :{{input name="signUpPassword" type="password" class="validate"
  value=signUpPassword change=(action 'signUpUserPasswordValidation' signUpPassword)}}
  <br>
  <button type="button" name="button" {{action "processSIgnUpAction"}}>Join Now</button>
</form>
